/* Nosotros */

main {
    color: rgba(93, 93, 155, 0.911);
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 0 wheat;
  
    h1 {
      font-size: 2,5rem;
      margin-top: 40px;
      margin-bottom: 5px;
      margin-top: 100px;
    }
  
    h2 {
      font-size: 25px;
      margin-top: 30px;
      margin-bottom: 30px;
      color: black;
      line-height: 38px;
    }
  }
  
  /*galeria de imagenes*/
  
  .container-img {
    width: 100%;
    max-width: 1100%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px;
    grid-gap: 20px;
  
    .box-img {
      figure {
        width: 100%;
        height: 100%;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 1px solid orangered;
        border-radius: 10px;
      }
  
      &:nth-child(1) {
        grid-column-start: span 2;
      }
  
      &:nth-child(4) {
        grid-row-start: span 2;
      }
    }
  }
  