/*jumbotron*/
.jumbotron {
    height: 600px;
    background-image: url(../img/rio-salsipuedes-005-800x0-c-center\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    position: relative;
  }

.jumbotron p{
  font-size: 20px;
  color: white;
  text-shadow: 2px 1px 1px black;
  line-height: 38px;

}

/* Iframe */


h2{
  @include h2;
  letter-spacing: 1px;
}

iframe {
    max-width: 100%;
    display: flex;
    margin: auto;
    height: 450px;
  }